*{
    margin:0;
    padding:0;
    background-color: #282a34;
}
body{
    width:100%;
    height:100%;
    display:flex;
    justify-content:flex-start;
    flex-direction: column;

}
.container{
    display: flex;
    justify-content:flex-start;
    gap:100px;
}
.left-section{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    width:600px;
    height:735px;
    padding:0px 60px 60px ;
    margin:0 60px 0 123px;
    align-items: flex-start;
    color:white;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.logo{
    position:relative;
    width:72px;
    height:70px;
    margin:0;
    padding-bottom:60px;
    padding-top: 100px;
}
h1{
    font-size:35px;
    font-weight: 500;
}
h2{
    margin:8px 0 0 0;
    font-size: 24px;
    font-weight: 400;
}
.list-style{
    display:flex;
    align-items:center;
}
.list1{
    width:16px;
    height:16px;
    border-radius: 50%;
    background-color: rgb(0,200,83);
    display:flex;
    align-items: center;
    justify-content:center;
    position:relative;
    font-size: 10px; 
    color: white;
    margin-right: 7px;
}
.tick-mark{
background-color: rgba(0,200,83);
}
ul{
list-style:none;
margin:16px 0 0 0;
}
ul li{
    display:flex;
    align-items: center;
    height:24px;
    width:440px;
    margin-bottom:10px;
    font-size:16px;
}
.login-container *{
    background-color: white;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.right-section{
    margin:0;
    padding:0;
    flex:1;
}
.login-container {
    background-color: white;
    position:relative;
    padding:48px 56px 80px 56px;
    margin:51px 147px 147px 6px;
    width: 337px;
    height: 408px;
    border: 1px solid #ccc; 
    border-radius: 8px;
}
.login-container #close{
    position:absolute;
    right:28px;
    top:16px;
    font-size:23px;
    transform: scaleX(1.5);
    font-weight: 400;
    border:0;
}
.login-container h2{ 
    font-size: 30px;
    margin:0 0 32px;
}
.login-container p{
    text-align:right;
    margin:0 0 34px;
    font-size: 14px;
}
.options{
    display:flex;
    flex-wrap: wrap;
    gap:5px;
    
}
.options button{
    width:49%;
    height:40px;
    display:flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid rgb(212, 209, 211);
    border-radius: 7px;
}
.or{
margin: 16px 0px;
font-weight: 400;
text-align: center;
color: gray;
}
.details{
display:flex;
gap:3px;
flex-direction: column;
padding-bottom: 20px;
}
input{
    border: 0.5px solid rgb(212, 209, 211);
    border-radius: 7px;
    width:100%;
    height:40px;
    padding-left:10px;
}
.confirmation{
    display:flex;
    gap:5px;
}
.confirmation button{
    width:50%;
    height:40px;
    border: 0.5px solid rgb(212, 209, 211);
    border-radius: 7px;
    font-weight: 600;
    text-align: center;
    font-size: 15px;
}
.login-container a{
    color: rgb(52, 168, 83);
    text-decoration:none;
}
#help{
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap:7px;
    height:45px;
    width:108px;
    position:fixed;
    right:20px;
    top:675px;
    font-weight: 600;
    border-radius: 25px;
    background-color: rgb(4, 170, 109);
    color:white;
    font-size: 15px;
    border: 0;
    padding:0 25px 13px; 
}
.circle-wrapper{
    background-color: rgb(4, 170, 109);
    width:16px;
    height:16px;
    border-radius: 50%;
    border:2px solid white;
}
.heart{
    width:37px;
    height:35px;
    padding:0 0 0 10px ;
}
.start{
    position:absolute;
    width:140px;
    height:330px;
    left:550px;
    top:320px
}
.opt_img{
    height:25px;
    width:25px;
    padding-left: 55px;   
}
.opt_img1{
    height:25px;
    width:25px;
    padding-left: 70px;
}
.opt_img2{
    height:25px;
    width:20px;
    padding-left: 48px;
}
button{
    cursor:pointer;
}
table {
    width: 450px;
    border-collapse: collapse; 
}
th, td {
    border: 1px solid black; 
    text-align: center; 
}

footer{
    display:flex;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    flex-direction: column;
    padding:150px 60px 90px ;
    margin:0 60px 0 123px;
    color:white;
    gap:5px;
    font-size:12px;
    font-weight:400 ;
}
.logo-white{
    width:60px;
    height:56px;
    padding-bottom: 50px;
}
footer a{
    color:white;
}
.bottom-container{
    display:flex;
    align-items: flex-start;
    width:100%;
}
footer .copyright{
    display:flex;
    padding-top: 15px;
    gap:5px;
}
.astro{
    width:200px;
    height:200px;
    padding-left:50px;
}
.button-img{
    width:24px;
    height:24px;
    margin-right: 10px;
    margin-bottom: 20px;
}
.buttonlink{
    text-decoration: none;
}